<div class="container" ng-if="!is_logged">
  <div class="jumbotron text-center">
    <p>
      When user is not logged, he or she can see a live portfolio but only for a demo account.
    </p>
    <p>
      The user can clearly see the section that are open to any registered user and the
      section that requires a premium account.
    </p>
  </div>
</div>
<div class="container-fluid" ng-if="is_logged">
  <!-- <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">My Portfolio</li>
  </ol>
  <hr /> -->

  <!-- Layout inspirated by http://getbootstrap.com/examples/dashboard/# -->
<!--
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-repeat="page in pages" ng-class="activeIfCurrentPageIs(page.endpoint)">
          <a href="{{page.href}}">
            <span>{{page.text}}</span>
            <span ng-if="page.spanicon" ng-class="page.spanicon"></span>
          </a>
          <ul ng-if="page.endpoint == '' && activeIfCurrentPageIs(page.endpoint) == 'active'">
            <li ng-repeat="portfolio in portfolios" ng-class="activeIfCurrentPortfolioIdIs(portfolio.id)">
              <a href="#/portfolios?i={{portfolio.id}}">
                <span>{{portfolio.name}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="page-content inset">
        <div ng-repeat="page in pages">
          <div class="row" ng-if="currentPage() == page.endpoint" ng-include="page.templateUrl"></div>
        </div>
      </div>
    </div>
  </div> -->
  <sidebar title="{{'My Portfolios' | translate}}" collection="menuItems" endpoint="endpoint" footer="{{'Help' | translate}}">
  </sidebar>
</div>
