<div ng-controller="PortfoliosSummaryCtrl">
  <div ng-if="!!portfolio_id" ng-include="'app/portfolios/details.template.html'"></div>
  <div ng-if="!portfolio_id">
    <h1 class="page-header"><span translate>Overview</span> <small translate>of your portfolios</small></h1>
    <p translate>
      Please find bellow a summary of the portfolios.
    </p>
    <ul class="toolbar fullwidth">
      <li>
        <a class="btn btn-default" ng-click="createPortfolio()">Create new Portfolio</a>
      </li>
    </ul>
    <div ng-animate="{enter: 'slide-reveal'}">
      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        All portfolio: {{all_portfolio}}
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-nopadding">
        <portfolio-summary ng-repeat="portfolio in portfolios" id="{{portfolio.id}}">
        </portfolio-summary>
      </div>
    </div>
    <!-- <table st-table="displayed" class="table table-striped" st-select-row="row" st-select-mode="single">
      <thead>
        <tr>
          <th class="table-header" st-ratio="20" st-sort="name" translate>Name</th>
          <th class="table-header" st-ratio="20" st-sort="broker" translate>Broker</th>
          <th class="table-header" st-ratio="10" st-sort="description" translate>Description</th>
          <th class="table-header" st-ratio="10" st-sort="type" translate>Type</th>
          <th class="table-header" st-ratio="20" st-sort="deposit" translate>Deposit</th>
          <th class="table-header" st-ratio="20" st-sort="balance" translate>Balance</th>
          <th class="table-header" st-ratio="20" translate>Details</th>
          <th class="table-header" st-ratio="20" translate>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayed">
          <td st-ratio="20">{{row.name}}</td>
          <td st-ratio="20">{{row.broker}}</td>
          <td st-ratio="10">{{row.description}}</td>
          <td st-ratio="10">{{row.type}}</td>
          <td st-ratio="20">{{row.deposit | json_currency}}</td>
          <td st-ratio="20">{{row.valorisation | json_currency}}</td>
          <td>
            <button class="btn btn-sm" popover-placement="top" popover="{{row | portfolio_summary_detail_popover}}" type="button">
              <i class="glyphicon glyphicon-eye-open"></i>
            </button>
          </td>
          <td>
            <button type="button" ng-click="edit(row)" class="btn btn-sm">
              <i class="glyphicon glyphicon-edit">
              </i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div  st-items-by-page="20" st-pagination=""></div>
          </td>
        </tr>
      </tfoot>
    </table> -->
  </div>
</div>
