<div class="container">
  <!-- <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">My Portfolio</li>
  </ol>
  <hr /> -->

  <h1 class="page-header">
    My Porfolio <small>Overview of your assets</small>
  </h1>

  <div class="jumbotron text-center" ng-if="is_logged">
    <div>
      Display user portfolio details when logged in.
    </div>
  </div>
  <div class="jumbotron text-center" ng-if="!is_logged">
    <div>
      When user is not logged, he sees a message inviting him to register.
    </div>
  </div>

  <div class="footer">
    Another footer
  </div>

</div>
