<div class="container" ng-if="!is_logged">
  <div class="jumbotron text-center">
    <div>
      When user is not logged, he sees a message inviting him to register.
    </div>
  </div>
</div>
<div class="container" ng-if="is_logged">
  <!-- <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">My Portfolio</li>
  </ol>
  <hr /> -->

  <h1 class="page-header">
    <span translate>My Porfolio</span> <small translate>Overview of your assets</small>
  </h1>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
  </div>

  <div class="footer">
    Another footer
  </div>
</div>
