<li ng-class="{sidebarSeparator: separator(member.search), active: active(member.search), item_under_development: member.state == 'dev'}"
    ng-if="member.state != 'disabled'">
  <div ng-if="member.type != 'separator'">
    <a ng-click="onClick(member)">
      <span ng-click="onChevronClick(member)"
            ng-show="hasChildren() && expand"
            class='sidebar-chevron fa fa-chevron-right'></span>
      <span ng-click="onChevronClick(member)"
            ng-show="hasChildren() && !expand"
            class='sidebar-chevron-open fa fa-chevron-down'></span>
      <span>{{member.name}}</span>
      <span class="sidebar-sub-icon {{member.icon}}"></span>
    </a>
  </div>
  <div ng-if="member.type == 'separator'" >
    <a></a>
  </div>
  <!-- collection="{{member.children}}" -->
  <!-- <sidebar-collection ng-if="hasChildren()"  expand='false'></sidebar-collection> -->
  <!-- <sidebar-collection></sidebar-collection> -->
</li>
