<div class="portfolio-summary">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 card">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <div class="row">
            <div class="expand-col-md col-xs-1 col-xs-nopadding">
              <button type="button"
                      class="btn-expand"
                      ng-if="expand"
                      ng-click="expand = !expand">-</button>
            </div>
            <div class="col-xs-7 col-xs-nopadding">
              <div class="row">
                <div class="col-xs-12 col-xs-nopadding summary name">
                  <span ng-bind-html="portfolio.name"></span>
                </div>
                <div class="col-xs-12 col-xs-nopadding">
                  <div ng-bind-html="portfolio.type.long"></div>
                </div>
                <div class="col-xs-12 col-xs-nopadding description">
                  <div ng-bind-html="portfolio.description"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 summary balance col-xs-nopadding">
              <div class="title"
                   translate>
                Balance
              </div>
              <div class="value"
                   ng-bind-html="portfolio.portfolio_value.balance | json_currency"></div>
            </div>
          </div>
          <div class="details">
            <div class="row">
              <div class="col-xs-12 col-xs-nopadding">
                <div class="row invested bottom-hr-light">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Invested:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.invested.total | json_currency"></div>
                  </div>
                </div>
                <div class="row deposit">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Deposit:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.invested.deposit | json_currency"></div>
                  </div>
                </div>
                <div class="row withdrawals">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Withdrawals:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.invested.withdrawals | json_currency"></div>
                  </div>
                </div>
                <div class="row invested-other">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Other:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.invested.other | json_currency"></div>
                  </div>
                </div>
                <div class="row earned bottom-hr-light">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Earned:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.earned.total | json_currency"></div>
                  </div>
                </div>
                <div class="row market-change">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Market Change:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.earned.market_change | json_currency"></div>
                  </div>
                </div>
                <div class="row dividends">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Dividends:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.earned.dividends | json_currency"></div>
                  </div>
                </div>
                <div class="row earned-other bottom-hr">
                  <div class="col-xs-8 col-xs-nopadding">
                    <div translate>Other:</div>
                  </div>
                  <div class="col-xs-4 col-xs-nopadding">
                    <div class="value"
                         ng-bind-html="portfolio.earned.other | json_currency"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <pie-chart title="title of the chart"
                     data="data">
        </div>
      </div>
    </div>
  </div>
</div>
