<div id="top" class="feature-content">
  <div class="container">
    <div class="row content">
      <div class="visible-md-block visible-lg-block col-md-3 feature-sidebar hidden-print">
        <ul mac-affix class="nav nav-list docs-sidenav">
          <li ng-repeat="item in items" mac-scroll-spy-target="{{item.key}}">
            <a ng-click="scrollTo(item.key)">
              <span>{{item.text}}</span>
            </a>
            <ul class="nav nav-list">
              <li ng-repeat="child in item.children" mac-scroll-spy-target="{{child.key}}">
                <a ng-click="scrollTo(child.key)">
                  <span>{{child.text}}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="visible-xs-block visible-sm-block col-xs-12 feature-xs-topbar hidden-print">
        <ul class="nav nav-list">
          <li ng-repeat="item in items">
            <a ng-click="scrollTo(item.key)">
              <i class="fa fa-hand-o-right"></i>
              <span>{{item.text}}</span>
            </a>
            <li ng-repeat="child in item.children" mac-scroll-spy-target="{{child.key}}">
              <a ng-click="scrollTo(child.key)">
                <span>{{child.text}}</span>
              </a>
            </li>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-9 feature-scrollit">
        <section class="features-section bg-light-yellow">
          <h2 id="center-history" class="text-center" translate>The Center of Your Personal Finance</h2>
          <hr class="small hr-white">
          <img src="assets/images/red-business-graph-short.png" class="feature-img-responsive feature-margin-bottom" alt="Responsive image">

          <h3 translate>Keep it Simple</h3>
          <p translate>

            Squirrel is the ideal tool for managing your different investments. It has everything
            included to follow all your portfolios in one place.

          </p>
          <h3 translate>All in One Place</h3>
          <p translate>

            Analyse and compare stocks, mutual funds and ETF. Follow the evolution of your
            positions, the performance of your portfolio, forcast dividend reporting, prepare your
            tax income statement. Do all of this with Squirrel !

          </p>
          <h3 translate>Track your Fees</h3>
          <p translate>

            Even if you have different portfolios on different brokers, with different fees and tax
            conditions, track your gains and get a clear overview what your really have.

          </p>
          <h3 translate>Automatic Update</h3>
          <p translate>

            Squirrel automatically retrieves the current value of any stocks, ETF, options or fund
            valorisation, from the main stock exchanges, up to 15 years back.

          </p>
          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>


        <section class="features-section">
          <h2 id="visualizations" class="text-center" translate>Visual Portfolios</h2>
          <p class="lead text-center" translate>
            Take care of your investiment like the apple of your eye.
          </p>
          <hr class="small hr-white">
          <h3 translate>Instantenously Visualize Your Porfolios</h3>
          <p translate>

            Squirrel provides your powerful visualization tools. See the current allocation of your
            stocks and mutual funds, understand which is your real geographical exposure. Graphs are
            carefuly crafted to extract the more meaningful information from them. No over complex
            live-trading graphs, but also, no over simple graphs. Just exactly what you need.

          </p>
          <h3 translate>Indentify your Porfolio's Strenght and Weakness</h3>
          <p translate>

          Check your risk exposure, compare to well balanced porfolio.

          </p>
          <h3 translate>Generate Professional Reports</h3>
          <p translate>

            Squirrel also generates weekly or monthly reports. You can receive these reports
            automatically by email, in the PDF and a direct link to Squirrel Website, with a
            private URL you can eventually share with your financial adviser, without compromising
            the rest of your portfolio to undesired eyes.

          </p>
          <div class="row">
            <div class="col-xs-6">
              <img src="assets/images/dbg-chart.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-xs-6">
              <img src="assets/images/dbg-chart.jpg" class="img-responsive" alt="Responsive image">
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row visible-lg-block">
            <div class="col-md-6">
              <img src="assets/images/dbg-chart.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-md-6">
              <img src="assets/images/dbg-chart.jpg" class="img-responsive" alt="Responsive image">
            </div>
          </div>
          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>


        <section class="features-section">
          <div class="row">
            <h2 id="anywhere" class="text-center" translate>Access your porfolio anywhere, any time</h2>
            <p class="lead text-center" translate>
              Use the Cloud to your own advantage
            </p>
            <hr class="small">
          </div>
          <div class="row text-center feature-text features-text">
            <div class="col-md-offset-1 col-md-4 col-md-offset-1 feature-text-top-block">
              <p>

                <translate>

                  Consult, edit and visualize your portfolio anywhere, from your personal computer,
                  tablet or Mobile Phone. All you need is an internet connectivity.

                </translate>
                <a mac-popover="testPopover2">Above right</a>
                <div class="mac-popover" id="testPopover2" direction="above right">
                  <div class="tip"></div>
                  <div class="popover-header">
                    <div class="title ng-binding">Test Popover Title</div>
                  </div>
                  <div mac-popover-fill-content=""><span class="ng-scope">Open a popover</span></div>
                </div>

              </p>
              <!-- <p translate>

                Android and iOS native applications are provided.

              </p> -->
            </div>
            <div class="col-md-offset-1 col-md-5">
              <img src="assets/images/dbg-chart.jpg" class="img-responsive" alt="Responsive image">
            </div>
          </div>
          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>

        <section class="features-section bg-light-yellow">
          <h2 id="share" class="text-center" translate>Share your Portfolio</h2>
          <p class="lead text-center" translate>
            The Investor Social Network
          </p>
          <hr class="small">
          <img src="assets/images/dbg-chart.jpg" class="feature-img-responsive" alt="Responsive image">
          <h3 translate>Public or Private</h3>
          <p translate>

            Share part of your portfolio publicly, or keep it completely private.

          </p>
          <h3 translate>You are in Control</h3>
          <p translate>

            You can easily control what other can see. Create private link to graphs or table, with
            email and password permission, expiration date.
          </p>
          <h3 translate>Give a Public Access to Portions of Your Reports</h3>
          <p translate>

            Allow other Squirrel users to access to some part of your portfolios, for instance your
            total return and percentage only reportings. Instantanously see what the others can
            see from you.

          </p>
          <h3 translate>Best Tool To Communicate With Your Financial Advisor</h3>
          <p translate>

            Easily show your portfolio to your financial adviser so he can give you accurate and
            valuable advices.

          </p>
          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>

        <section class="features-section">
          <h2 id="what" class="text-center" translate>Meet Squirrel</h2>
          <hr class="small">
          <div class="row">
            <div id="what" class="col-md-4 column">
              <h3 translate>
                What is Squirrel?
              </h3>
              <p class="features-justify" translate>

                Squirrel is your swissknife of your investment life. It is an online tool gathering
                everything you need to find, decide, follow your investment.

              </p>
            </div>
            <div class="col-md-4 column">
              <h3 translate>
                But there plenty of similar tool online?
              </h3>
              <p class="features-justify" translate>

                Most of the online portfolio managers offer you access to an automated investment
                strategy, with no effort from your side. Enjoy the best algorithms that make
                wonders, in the finance, work for you. Squirrel does not make these promises. What
                it does promise is to give you the best tool to track you portfolio and find your
                own strategy.

              </p>
            </div>
            <div class="col-md-4 column">
              <h3 translate>
                What makes it different from other online portfolio managers?
              </h3>
              <p class="features-justify" translate>

                Before everything else, Squirrel is a tool aimed at guiding you from day 1 when your
                start you investment journey, to build step by step your own portfolio. You have all
                the meaningful information in front of you, in your Squirrel Dashboard.

              </p>
              <p class="features-justify" translate>

                There is no mystic algorithm behind Squirrel, no Award winning Trading Software
                that will make you rich. Just well crafted tools, specially targeted to private
                individual.

              </p>
            </div>
          </div>

          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>


        <section class="features-section">
          <h2 id="who" class="text-center" translate>Who is it for?</h2>
          <hr class="small">

          <div class="row">
            <div class="col-md-4 column">
              <h3 translate>
                Primary audience of Squirrel: Individuals
              </h3>
              <p class="features-justify" translate>

                Squirrels is specially targetted for particulars who aren't experts of finance but
                still want to take in charge there financial investments. Who is the best suited
                to take the best decision for you?

              </p>
            </div>
            <div class="col-md-4 column">
              <h3 translate>
                But also: Financial Advisor
              </h3>
              <p class="features-justify" translate>

                Squirrel is also well suited for independent financial advisor. Open an account for
                your client.

              </p>
            </div>
            <div class="col-md-4 column">
              <h3 translate>
                How much does it cost?
              </h3>
              <p class="features-justify" translate>

                Click on the "Plans" link and see which plans fits you the best.

              </p>
              <p class="features-justify" translate>

                But the best place to start with is to click on the "Demo" button on the navigation
                bar. You will see almost the real Squirrel in action, but with a demo account with
                fake data.

              </p>
              <p class="features-justify" translate>

                Sign up for free to see Squirrel by yourself!

              </p>
            </div>
          </div>

          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>
        <section class="features-section">
          <h2 id="faq" class="text-center" translate>Frequently Asked Questions</h2>
          <p class="lead text-center" translate>
            Have Questions about Squirrel?
          </p>
          <hr class="small">
          <h3 translate>General</h3>
          <question-and-answer question="{{'What is Squirrel?' | translate}}">
            <p translate>

              A quite ambitious project coming from a modest idea born early 2014.

            </p>
          </question-and-answer>
          <question-and-answer question="{{'Who is behind?' | translate}}">
            <img src="assets/images/portrait-small.jpg" class="img-thumbnail features-img-right" alt="Myself">
            <p translate>

              Hi! My name is Gaetan Semet. I am Software engineer who started a very humble investor
              life and was very disappointed with existing tools to follow my different portfolio.

            </p>
            <p translate>

              As humble as my investments was, I had to open several broker accounts to exploit the
              best of each of them. My first broker was quite good for buying stock from my home
              country (France), but was over expensive for stocks abroad. I then opened another
              account on a cheaper broker.

            </p>
            <p translate>

              I also wanted to follow my Mutual Funds. I didn't understood why they would be
              treated differently than stocks.
            </p>
          </question-and-answer>
          <question-and-answer question="{{'So how do you managed to follow your different portfolios?' | translate}}">
            <p translate>

              I started tracking my different stock and mutual funds portfolio using a speadsheet
              software. But I felt very restricted when using such software, without beneficting
              from modern tool, dynamic and interactives charts such as what we can see on the web.

            </p>
            <p translate>

              So I started using Google Spreadsheet to follow my investments, and I felt in love
              with its the 100% online nature. No matter which day of the week we are, if I am at
              home or on the go, I could see and edit my portfolio instantanously.

            </p>
            <p translate>

              But when data starts to becomes quite heavy, with lot of custom import scripts, the
              Speadsheet started slowing down and become less confortable to work with.

            </p>
            <p>

              <translate>

                I was also disappointed by the graphs themselves, they were not customable enough
                and not so good looking, compared to graph produced by JavaScript libraries such as

              </translate>
              <a href="http://www.highcharts.com/">HighCharts</a>.

            </p>
          </question-and-answer>
          <question-and-answer question="{{'That\'s how Squirrel was born?' | translate}}">
            <p translate>

              Squirrel started as a personal work but I wanted to do it the right way, with cutting
              edge web technologies. Just in case I could release it as a real service.

            </p>
          </question-and-answer>
          <div class="clearfix"></div>
          <hr class="light-hr">
          </div>
          <hr class="small">
          <div class="features-go-to-top visible-xs-block visible-sm-block">
            <a ng-click="scrollTo('top')">
              <i class="fa fa-hand-o-up"></i>
              <translate>Back to Top</translate>
            </a>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
