.feature-content{
  font-family: Asap, Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  /* Open+Sans */
  /* Josefin+Slab */
  /* Lobster */
  /* Asap */
}

.feature-sidebar-spacer{
  min-height: 600px;
}

.features-section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.features-section p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.features-subsection {
  margin-top: 30px;
  padding-top: 15px;
}

.feature-text{
  display: flex;
  align-items: center;
}
.feature-text-top-block{
  margin-bottom: inherit;
}
.feature-text-bottom-block{
  margin-top: inherit;
}
@media (max-width: 768px) {
    .feature-text {
      display: inherit;
      align-items: inherit;
    }
    .feature-text-top-block{
      margin-bottom: 50px;
    }
    .feature-text-bottom-block{
      margin-top: 50px;
    }
}


.feature-fixed {
}
.feature-scrollit {
}
.docs-sidenav li.active a, .docs-sidenav li.active a:hover {
  border-color: #f9f9f9;
  border-left: 2px solid #363636;
}

.feature-sidebar ul{
  margin-top: 45px;
  text-transform: uppercase;
  color: black;
  max-width: 200px;
}

.feature-xs-topbar{
  margin-top: 26px;
}

.feature-sidebar li {
  margin-bottom: 18px;
  width: auto;
}

.feature-xs-topbar li{
  margin-bottom: 28px;
}

.feature-sidebar a, .feature-sidebar a:hover, .feature-sidebar a:focus,
  .feature-xs-topbar a, .feature-xs-topbar a:hover, .feature-xs-topbar a:focus{
  color: black;
  cursor: pointer;
}

.features-go-to-top{
  float: right;
}

.features-go-to-top a, .features-go-to-top a:hover, .features-go-to-top a:focus{
  color: #60542F;
  cursor: pointer;
}

.feature-img-responsive {
  display: block;
  height: auto;
  width: 100%;
}

.feature-margin-top {
  margin-top: 3em;
}

.feature-margin-bottom {
  margin-bottom: 3em;
}
