@import "../components/common/common.less";

.plans-container h1{
  margin-top: 60px;
}

.plans-features-table{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.plans-features-header{
  width: 100%;
  /*float: left;*/
}

.plans-feature-title{
  /*width: 20%;*/
  /*float: left;*/
  padding-right: 30px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  text-align: right;
  margin-bottom: 60px;
}

.plans-feature-list{
  /*width: 80%;*/
  width: 100%;
  /*float: left;*/
  margin-bottom: 60px;
}

.plans-features-table {
  height: inherit;
  li{
    height: auto;
  }
}

.plans-features-table .description{
  /*float: left;*/
  padding-top: 5px;
}

.plans-features-table .support{
  /*float: right;*/
}

.plans-features-table .free, .plans-features-table .premium{
  /*float: left;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  text-transform: uppercase;
  font-size: 14px;
  /*width: 100px;*/
  text-align: center;
}

.plans-features-table .premium{
  font-weight: bold;
  color: darkred;
}

.plans-feature-list ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.plans-feature-list li {
  height: 30px;
  vertical-align: middle;
  padding-left: 15px;
}

.plans-features-table .light {
  background-color: @bgLighter;
}

@media(max-width: 992px){
  .plans-container{
    padding-left: 0px;
    padding-right: 0px;
    div{
      padding-left: 0px;
      padding-right: 0px;
    }
    h1, .plans-caption{
      padding-left: 15px;
    }
    .plans-feature-title{
      padding-left: 15px;
      text-align: center;
    }
  }
  .plans-features-table{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.9em;
    div{
      padding-left: 0px;
      padding-right: 0px;
    }
    li{
      padding-left: 5px;
      padding-right: 5px;
      height: auto;
    }
    .free, .premium{
      padding-left: 0px;
      padding-right: 0px;
    }
    .support{
      width: 60px;
    }
  }
}
