<div class="container plans-container">
  <div class="row">
    <div class="col-md-12">
      <h1><translate>Squirrel Plans</translate></h1>
      <p class="plans-caption">
        <translate>

          Squirrel offers advanced free account so you can discovers the real Service yourself.
          Advanced Features are reserved to Premium Members.

        </translate>
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="plans-features-table">
          <div class="plans-features-header">
            <div class="row">
              <div class="col-xs-12 col-md-2">
                &nbsp;
              </div>
              <div class="col-xs-12 col-md-10">
                <div class="plans-feature-list-nomargin">
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="description">&nbsp;</div>
                    </div>
                    <div class="col-xs-2">
                      <div class="free" translate>Free</div>
                    </div>
                    <div class="col-xs-2">
                      <div class="premium" translate>Premium</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="plans-features-table">
          <div ng-repeat="group in features">
            <div class="row">
              <div class="col-xs-12 col-md-2">
                <div class="plans-feature-title">{{group.name}}</div>
              </div>
              <div class="col-xs-12 col-md-10">
                <div class="plans-feature-list">
                  <ul>
                    <li ng-repeat="feature in group.features" ng-class-odd="group.odd_class" ng-class-even="group.even_class">
                      <div class="row">
                        <div class="col-xs-8">
                          <div class="description">{{feature.description}}</div>
                        </div>
                        <div class="col-xs-2">
                          <div class="free">
                            <span ng-if="feature.free == true" class="fa fa-check fa-2x"></span>
                            <span class="text-cell" ng-if="(feature.free != true) && (feature.free != false)">{{feature.free}}</span>
                          </div>
                        </div>
                        <div class="col-xs-2">
                          <div class="premium">
                            <span ng-if="feature.premium == true" class="fa fa-check fa-2x"></span>
                            <span class="text-cell" ng-if="(feature.premium != true) && (feature.premium != false)">{{feature.premium}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
