<!--
reference:

http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula
-->
<nav class="navbar navbar-squirrel navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" ng-class="navClass('')" >
        <span class="squirrel-brand">
          <img class="squirrel-brand-img" src="assets/images/logo_313x75.png"></img>
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
      <ul class="nav navbar-nav-squirrel visible-md-inline visible-lg-inline">
        <li ng-repeat="navLink in navLinks"
            ng-class="{active: active(navLink.endpoint), item_under_development: navLink.state == 'dev'}"
            ng-if='navLink.state != "disabled"'>
          <!-- <a href='/{{navLink.endpoint}}' ng-click="closeNavBar()">{{navLink.linktext}}</a> -->
          <a ui-sref='{{navLink.endpoint}}' ng-click="closeNavBar()">{{navLink.linktext}}</a>
        </li>
      </ul>
      <!-- small screen login panel -->
      <ul class="nav navbar-nav-squirrel navbar-sm-login visible-xs-inline visible-sm-inline navbar-right"
          ng-if="login_username.length <= 0">
        <li ng-class="navClass('login')" dropdown>
          <button class="btn login-button"
                  ng-init="loginCollapsed = true"
                  dropdown-toggle
                  type="button">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <ul class="dropdown-menu navbar-dropdown-menu-right" role="menu">
            <li ng-repeat="navLink in navLinks" ng-class="navClass('{{navLink.endpoint}}')">
              <!-- <a href='/{{navLink.endpoint}}' ng-click="closeNavBar()">{{navLink.linktext}}</a> -->
              <a ui-sref='{{navLink.endpoint}}' ng-click="closeNavBar()">{{navLink.linktext}}</a>
            </li>
            <li role="presentation"
                ng-if="multilanguage">
              <a role="menuitem" tabindex="-1" class="pointer" ng-click="changeLang()()" translate>Change Language</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" class="pointer" ng-click="goLogin()" translate>Log In</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" class="pointer" ng-click="goRegister()" translate>Sign Up</a></li>
          </ul>

        </li>
      </ul>
      <!-- big screen login panel -->
      <ul class="nav navbar-nav-squirrel navbar-login visible-md-inline visible-lg-inline navbar-right"
          ng-if="login_username.length <= 0 && currentLang">
        <li ng-if="multilanguage">
          <a class="navbar-change-lang pointer" ng-click='changeLang()' alt="{{'Change Language'| translate}}">
            <span class="glyphicon glyphicon-flag"></span>
          </a>
        </li>
        <li ng-if="login_username.length <= 0" ng-class="navClass('login')">
          <button class="btn login-button"
                  ng-click="goLogin()"
                  type="button">
            <span class="glyphicon glyphicon-user"></span> <span translate>Log In</span>
          </button>
        </li>
        <li ng-if="login_username.length <= 0" ng-class="navClass('register')">
          <button class="btn signup-button"
                  ng-click="goRegister()"
                  type="button">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="visible-sm-inline-block" translate>Sign Up</span><span class="hidden-sm" translate>Sign Up for Free</span>
          </button>
        </li>
        <!-- <li ng-if="login_username.length > 0">
          <button class="btn btn-primary navbar-btn" type="button" ng-click="logout()">
            <span class="glyphicon glyphicon-remove"></span> Logout
          </button> -->
      </ul>
      <!-- Connected user button -->
      <ul class="nav navbar-nav-squirrel navbar-login navbar-right"
          ng-if="login_username.length > 0">
        <li class="navbar-notopmargin"
            dropdown>
          <a class="pointer"
             dropdown-toggle>
            <span class="visible-md-inline visible-lg-inline">
             {{login_username}}
            </span>
            <span class="caret"></span>
          </a>
          <!-- <button class="dropdown-toggle" type="button" id="dropdownUserMenu" dropdown-toggle>
            {{login_username}}
            <span class="caret"></span>
          </button> -->
          <ul class="dropdown-menu navbar-dropdown-menu-right" role="menu">
            <li ng-repeat="navLink in navLinks" ng-class="navClass('{{navLink.endpoint}}')">
              <!-- <a href='/{{navLink.endpoint}}' ng-click="closeNavBar()">{{navLink.linktext}}</a> -->
              <a ui-sref='{{navLink.endpoint}}' ng-click="closeNavBar()">{{navLink.linktext}}</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings" ng-click="closeNavBar()" translate>Settings</a></li>
            <li role="presentation" ng-if="is_admin"><a role="menuitem" tabindex="-1" href="/admin" ng-click="closeNavBar()" translate>Administrator page</a></li>
            <li role="presentation" ng-if="is_admin"><a role="menuitem" tabindex="-1" href="/sandbox" ng-click="closeNavBar()" translate>Sandbox</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout" ng-click="logout()" translate>Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
