<!--
reference:

http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula
-->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" ng-class="navClass('')">
        <span class="squirrel-brand"> <img src="assets/images/logo-256.png" style="max-width: 30px; margin-top: -5px"></img> Squirrel-AMS</span>
      </a>
      <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only" translate>Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
      <ul class="nav navbar-nav">
        <li ng-repeat="navLink in navLinks" ng-class="navClass('{{navLink.endpoint}}')"> <a href='#/{{navLink.endpoint}}'>{{navLink.linktext}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="login_username.length <= 0" ng-class="navClass('login')"><a href="#/login"><span class="glyphicon glyphicon-user"></span> <span translate>Log in</span></a></li>
        <li ng-if="login_username.length <= 0" ng-class="navClass('register')"><a href="#/register"><span class="glyphicon glyphicon-plus"></span> <span translate>Register</span></a></li>
        <!-- <li ng-if="login_username.length > 0">
          <button class="btn btn-primary navbar-btn" type="button" ng-click="logout()">
            <span class="glyphicon glyphicon-remove"></span> Logout
          </button> -->
        <li ng-if="login_username.length > 0" dropdown>
          <a href="#" dropdown-toggle>{{login_username}} <span class="caret"></span></a>
          <!-- <button class="dropdown-toggle" type="button" id="dropdownUserMenu" dropdown-toggle>
            {{login_username}}
            <span class="caret"></span>
          </button> -->
          <ul class="dropdown-menu" role="menu">
            <!-- <li role="presentation" class="dropdown-header">General</li> -->
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#/settings" translate>Settings</a></li>
            <li role="presentation" ng-if="is_admin"><a role="menuitem" tabindex="-1" href="#/admin" translate>Administrator page</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#/logout" ng-click="logout()" translate>Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
