<div id="yass_top_edge_padding" style="padding: 0px 0px 70px; margin: 0px; border-width: 0px; height: 0px; display: block;"></div>

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" ng-class="navClass('')">
        <span class="squirrel-brand"> <img src="assets/images/logo-256.png" style="max-width: 30px; margin-top: -5px"></img> Squirrel-AMS</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-repeat="navLink in navLinks" ng-class="navClass('{{navLink.endpoint}}')"> <a href='#/{{navLink.endpoint}}'>{{navLink.linktext}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="login_username.length <= 0"><a href="#/login"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
        <li ng-if="login_username.length <= 0"><a href="#/register"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
        <li ng-if="login_username.length > 0"><p class="navbar-text">Hello, {{username}}</p></li>
        <li ng-if="login_username.length > 0">
          <button class="btn btn-primary navbar-btn" type="button" ng-click="logout()">
            <span class="glyphicon glyphicon-remove"></span> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
