<div id="yass_top_edge_padding" style="padding: 0px 0px 70px; margin: 0px; border-width: 0px; height: 0px; display: block;"></div>

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> Squirrel
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-repeat="navLink in navLinks" ng-class="navClass('{{navLink.endpoint}}')"> <a href='#/{{navLink.endpoint}}'>{{navLink.linktext}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
