<div ng-controller="FooterCtrl">
  <footer class="visible-lg-block" ng-if="show_footer()" >
    <div id="bottom" class="noprint">
      <div id="bottom_container">
        <div class="footer_bloc" style="  width: 190px;margin-right: 10px;font-size: 0.79em;">
            2015 © squirrel-ams.com
        </div>
        <div class="footer_bloc">
          <span class="title">Services</span>
          <a class="item" href="#/screeners" title="Find your stocks on the Stock Screener">Screeners</a>
          <a class="item" href="#/my-portfolios" title="Manage your portfolios">My Portfolios</a>
        </div>
        <div class="footer_bloc">
          <span class="title">Help</span>
          <a class="item" href="#/help" title="Squirrel Asset Management System">Squirrel AMS</a>
        </div>
        <div class="footer_bloc">
          <span class="title">Légal</span>
          <a class="item" href="#/legal-notes" title="legal notes" rel="nofollow">Legal notes</a>
        </div>
        <div class="footer_bloc">
          <span class="title">About</span>
          <a class="item" href="#/contact" title="Contactez l'équipe rendementlocatif.com" rel="nofollow">Contact</a>
        </div>
      </div>
    </div>

    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12"> Copyright 2015 all rights reserved.<br/>
          Squirrel AMS is not related to ...
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
