<div ng-controller="FooterCtrl">
  <footer class="visible-lg-block" ng-if="show_footer()" >
    <div id="bottom" class="noprint">
      <div id="bottom_container">
        <div class="footer_bloc" style="  width: 190px;margin-right: 10px;font-size: 0.79em;">
            2015 © squirrel-ams.com
        </div>
        <div class="footer_bloc">
          <span class="title" translate>Services</span>
          <a class="item" href="#/screeners" title="{{'Find your stocks on the Stock Screener' | translate}}" translate>Screeners</a>
          <a class="item" href="#/portfolios" title="{{'Manage your portfolios' | translate}}" translate>My Portfolios</a>
        </div>
        <div class="footer_bloc">
          <span class="title" translate>Help</span>
          <a class="item" href="#/help" title="{{'Squirrel Asset Management System' | translate}}" translate>Squirrel AMS</a>
        </div>
        <div class="footer_bloc">
          <span class="title" translate>Légal</span>
          <a class="item" href="#/legal-notes" title="{{'legal notes'| translate}}" rel="nofollow" translate>Legal notes</a>
        </div>
        <div class="footer_bloc">
          <span class="title" translate>About</span>
          <a class="item" href="#/contact" title="{{'Contact the technical team' | translate}}" rel="nofollow" translate>Contact</a>
        </div>
      </div>
    </div>

    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <span translate>Copyright 2015 all rights reserved.</span><br/>
            <span>
              Lorem ipsum Dolor enim sint eiusmod amet irure incididunt Duis in in occaecat in cillum.
            </span>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
