<div class="container" ng-if="!is_admin">
  <div class="row" ng-if="!is_admin">
    normal users don't have access to this page
  </div>
</div>
<div class="container" ng-if="is_admin">

  <nav class="navbar-inverse">
    <ul class="nav navbar-nav side-nav">
      <li ng-class="activeIfCurrentPageIs('dashboard')">
        <a href="#/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
      </li>
      <li ng-class="activeIfCurrentPageIs('charts')">
        <a href="#/admin?p=charts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row" ng-if="currentPage() == 'dashboard'" ng-include="'app/admin/admin.dashboard.template.html'" ng-controller="AdminDashboardCtrl"></div>
    <div class="row" ng-if="currentPage() == 'charts'" ng-include="'app/admin/admin.charts.template.html'" ng-controller="AdminChartsCtrl"></div>
  </div>
</div>
