<h1 class="page-header">
  Charts <small> Samples</small>
</h1>

<h2>Angular-Highstocks <small>using the directive</small></h2>

<div class="row">
  <div class="col-md-8 col-xs-12">
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
  </div>
  <div class="col-md-4 col-xs-12">
    <highchart id="chart2" config="chartConfig2" class="span10"></highchart>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <highchart id="chart3" config="chartConfig3" class="span10"></highchart>
  </div>
  <div class="col-md-8 col-xs-12">
    <highchart id="chart4" config="chartEurUsdConfig"></highchart>
  </div>
</div>

<h2>Direct Highstocks <small>using jQuery</small></h2>

<div class="row">
  <p>Have to be really careful with the timing, or the element will not be created when jqury runs!</p>
  <div class="col-md-6 col-xs-12">
    <div id="hightstock_container"></div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div id="combination_container"></div>
  </div>
</div>

<h2>Moris Donut <small>nice little library</small></h2>
<p>Resize badly</p>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div
      donut-chart
      donut-data='[
          {label: "Download Sales", value: 12},
          {label: "In-Store Sales",value: 30},
          {label: "Mail-Order Sales", value: 20}
      ]'></div>
  </div>
</div>

<h2>Angular-nvd3 <small>using the wrapper directive</small></h2>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <nvd3 options="nvd3Options" data="nvd3Data"></nvd3>
  </div>
  <div class="col-md-6 col-xs-12">
    <nvd3 options="lineWithFocusChartOptions" data="lineWithFocusChartData"></nvd3>
  </div>
</div>

<h2>CrossFilter <small>using the wrapper directive</small></h2>
  <section class="sidebar">
      <h1>ngCrossfilter</h1>

      <input type="text" ng-model="word" class="search" placeholder="Filter words, e.g: water, agua, voda." />

      <div class="btn-group">
          <button type="button" class="filter"
                  ng-click="words.filterBy('word', word, words.filters.fuzzy())">
              Filter
          </button>
          <button type="button" class="clear"
                  ng-click="word = ''; words.unfilterBy('word', word)">
              Clear
          </button>
      </div>

      <ul>
          <li class="statistic">
              <label>Words:</label>
              {{words.collection().length | number: 0}}
          </li>
          <li class="statistic">
              <label>First:</label>
              {{words.first().word}}
          </li>
          <li class="statistic">
              <label>Last:</label>
              {{words.last().word}}
          </li>
          <li class="word-count-title">Filter by length:</li>
          <li class="count-boxes">
              <div class="count" ng-repeat="count in countGrouped"
                                 ng-class="{ 'is-none': count.value == 0, active: currentCountFilter == count.key }"
                                 ng-click="toggleCountFilter(count.key)">
                  {{count.key}}
              </div>
          </li>
      </ul>
  </section>

  <section class="words">
      <table>
          <tr>
              <th style="width: 12%;" ng-click="words.sortBy('id')">ID</th>
              <th style="width: 12%;" ng-click="words.sortBy('wordCount')">Length</th>
              <th ng-click="words.sortBy('word')">Word</th>
          </tr>
          <tr ng-show="loading">
              <td colspan="3">Downloading 100,000 words &ndash; 3.3mb may take a little while&hellip;</td>
          </tr>
          <tr ng-show="!loading && words.collection().length == 0">
              <td colspan="3">
                  Oops! Everything disappeared &ndash;
                  <a ng-click="word = ''; words.unfilterAll()">clear all filters</a>.
              </td>
          </tr>
          <tr class="word" ng-repeat="word in words.collection() | limitTo: pageNumber | limitTo: -50">
              <td style="width: 12%;">{{word.id}}</td>
              <td style="width: 12%;">{{word.word.length}}</td>
              <td>
                  <button class="btn btn-xs btn-default" ng-click="applyWordFilter(word.word)">
                      Only
                  </button>
                  {{word.word}}
              </td>
          </tr>
          <tr>
              <td class="etc" colspan="4">

                  <div class="btn-group">
                      <button type="button" class="btn btn-xs btn-default"
                              ng-click="pageNumber = pageNumber - 10">
                          &lt; Previous Page
                      </button>
                      <button type="button" class="btn btn-xs btn-default"
                              ng-click="pageNumber = pageNumber + 10">
                          Next Page &gt;
                      </button>
                  </div>

              </td>
          </tr>
      </table>
  </section>
<h2>DC.js <small>the library mixing D3 and crossfilter</small></h2>
