<!-- when needed, add general banners here -->
<!-- <banner
    data-banner="new-tos-announcement"
    data-banner-show-count="1"
    data-banner-expires="Oct 30, 2015"
    class="banner-fixed-top banner-blue">
  <div>

    We've updated our <a href="/about/terms" style="text-decoration:underline;">Terms of Use</a>.
    Please take a moment to review them. By continuing to use Squirrel, you agree to comply with the updated terms.

  </div>
</banner> -->

<banner
    data-banner="database-refresh-issue"
    data-banner-enabled="false"
    class="banner-fixed-top banner-red">
  <div>

    <p translate>

      An internal error is preventing to refresh the database. There is no quotes refresh until this
      issue has been fixed by our team.

    </p>
    <p translate>

      Sorry for the inconvenience. We do our best to fix this issue as soon as possible.

    </p>
  </div>
</banner>

<banner data-banner="cookie-policy"
     data-banner-show-count="1"
     data-banner-show-until-closed="data-banner-show-until-closed"
     class="banner-fixed-bottom banner-yellow">
  <div>
    <p translate>

      We use cookies to ensure you get the best experience on our website.

    </p>
    <p translate>

      By using our website and agreeing to this policy, you consent to our use of cookies in
      accordance with the terms of this policy.

    </p>
  </div>
</banner>
