<div ng-controller="FooterCtrl">
  <footer ng-if="show_footer()" >
    <div class="footer-bottom noprint">
      <div class="container footer-bottom-container">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-2 footer-items">
              &copy; 2015
              <br/>
              <a class="item" href="http://squirrel-ams.com">squirrel-ams.com</a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-2 footer-items">
            <span class="title" translate>Services</span>
            <a class="item" href="/screeners" title="{{'Find your stocks on the Stock Screener' | translate}}" translate>Screeners</a>
            <a class="item" href="/portfolios" title="{{'Manage your portfolios' | translate}}" translate>My Portfolios</a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-2 footer-items">
            <span class="title" translate>Help</span>
            <a class="item" href="/help" title="{{'Squirrel Asset Management System' | translate}}" translate>Squirrel AMS</a>
          </div>
          <div class="col-xs-3 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-md-2 footer-items">
            <span class="title" translate>Policy</span>
            <a class="item" href="/tos" title="{{'Term of Service'| translate}}" rel="nofollow" translate>Term of Service</a>
            <a class="item" href="/plans" title="{{'Plans'| translate}}" rel="nofollow" translate>Plans</a>
            <a class="item" href="/security" title="{{'Security'| translate}}" rel="nofollow" translate>Security</a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-2 footer-items">
            <span class="title" translate>About</span>
            <a class="item" href="/contact" title="{{'Contact the technical team' | translate}}" rel="nofollow" translate>Contact</a>
          </div>
        </div>
      </div>
    </div>

    <section class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <translate>Copyright 2015 all rights reserved.</translate>
            <br/>
            <translate>

              Squirrel is not a financial advisory service. This tool should only be used for
              informational and educational purposes only and shall not be construed to constitute
              investment advice. Past performance is no guarantee of future results and future
              returns are not guaranteed.

            </translate>
          </div>
        </div>
        <div class="row social">
          <div class="col-xs-offset-1 col-xs-10">
            <a href="http://www.facebook.com/squirrelams"
               target="_blank"
               class="bubble facebook"
               alt="{{ 'Follow us on Facebook' | translate}}">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="http://www.twitter.com/squirrelams"
               target="_blank"
               class="bubble twitter"
               alt="{{ 'Follow us on Twitter' | translate}}">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="http://plus.google.com/12345678912345/"
               target="_blank"
               class="bubble gplus"
               alt="{{ 'Follow us on Google+' | translate}}">
              <span class="fa fa-google-plus"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
