<!-- when needed, add general banners here -->
<!-- <banner
    data-banner="new-tos-announcement"
    data-banner-show-count="1"
    data-banner-expires="Oct 30, 2015"
    class="banner-fixed-top banner-blue">
  <div>

    We've updated our <a href="/about/terms" style="text-decoration:underline;">Terms of Use</a>.
    Please take a moment to review them. By continuing to use Squirrel, you agree to comply with the updated terms.

  </div>
</banner> -->

<banner
    data-banner="database-refresh-issue"
    data-banner-enabled="false"
    class="banner-fixed-top banner-red">
  <div>

    <p translate>

      An internal error is preventing to refresh the database. There is no quotes refresh until this
      issue has been fixed by our team.

    </p>
    <p translate>

      Sorry for the inconvenience. We do our best to fix this issue as soon as possible.

    </p>
  </div>
</banner>

<banner data-banner="cookie-policy"
     data-banner-show-count="1"
     data-banner-show-until-closed="data-banner-show-until-closed"
     class="banner-fixed-bottom banner-black-transparent">
  <div>
    <p translate>

      Squirrel uses cookies to ensure you get the best user experience.

    </p>
    <p translate>

      By continuing your navigation, you accept the use of cookies to provide you contents best
      suited to your interests and enhance your experience on the site.
      <br/>
      For more information, click <a href="/tos">here</a>.

    </p>
  </div>
</banner>
