<div class="register register-gradient register-blank-text view-full-page">
  <div class="container">
    <header>
      <h1 class="h2" translate>Sign up for a free account now</h1>
      <hr>
    </header>
    <p class="alert error" id="fill-all-fields" style="display:none" translate>Please fill in all the fields.</p>
    <div class="row" ng-if="!registration_sent">
      <div class="visible-md-block visible-lg-block col-md-6 register-benefits">
        <h2 class="h3" translate>Free account</h2>
        <p translate>

          Create your portfolio, follow their evolutions, everything for free.

        </p>
        <h2 class="h3" translate>Everywhere, anytime</h2>
        <p translate>

          Prepare your investments ahead of time and let you conduct

        </p>
        <h2 class="h3" translate>Relax, feel safe</h2>

        <p translate>

          We do not sell your data. We don't ask for your mobile number because we do not want to
          sell you hidden, techno-mystic algorithms. We do not disturb your with annoying ads. There
          is no commission on any trade. We do not make more when your trade more.

        </p>
      </div>
      <div class="signup col-md-6">
        <form ng-submit="submit()" id="signup">
          <div class="form-group">
            <input class="text required form-control input-lg" id="first_name" name="first_name" placeholder="{{'First name' | translate}}" tabindex="1" type="text" value="">
          </div>
          <div class="form-group">
            <input class="text required form-control input-lg" id="last_name" name="last_name" placeholder="{{'Last name' | translate}}" tabindex="2" type="text" value="">
          </div>
          <div class="form-group">
            <input class="text required form-control input-lg" id="email" name="email" placeholder="{{'Email' | translate}}" tabindex="3" type="text" value="">
          </div>
          <div class="form-group last">
            <input class="form-control input-lg" tabindex="5" type="submit" value="{{'Create your Free Account' | translate}}">
          </div>
          <p class="tos">
            <span translate>Signing up signifies that you have read and agree to the</span>
            <a href="#/tos" class="btn btn-primary" translate>Terms of Service</a>.
          </p>
        </form>
        <h5 class="login">
          <span>Already have an account?</span> <a class="btn btn-primary" href="#/login" translate>Log In</a>
        </h5>
      </div>
    </div>
    <div class="row" ng-if="registration_sent">
      <div class="col-md-6">
        <p translate>Registration succesfully sent. Please check you email for the confirmation link.</p>
      </div>
    </div>
  </div>
</div>
